@media screen
{
	.ParentMenu
    {
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        background-color: #CC0000;
        background-image: url(margin.gif);
        background-repeat: repeat-x;
        background-position: left bottom;
        height: 0px;
        padding-left: 1px;
        padding-right: 1px;
    }
	
	.ParentItemContainer
	{
		background-image: url(mid.gif);
		background-repeat: repeat-x;
	}
	
	.ParentItem
	{
		background-image: url(mid.gif); 
		cursor: pointer; cursor: auto;
		background-repeat: repeat-x;
		height: 30px;
		border-bottom: 1px solid #CCCCCC;
		padding: 0px;
	}
	
	.ParentItemContentCell
    {
        font: 12px Tahoma;
        color: #FFFFFF;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        background-color: #CC0000;
        font-weight: bold;
    }
	
	.ParentItemContentCell a
    {
        border-color: #CC0000;
        font: 12px Tahoma;
        color: #FFFFFF;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        text-decoration: none;
        background-color: #CC0000;
        font-weight: bold;
    }

	.ParentItemOver
    {
        cursor: pointer;
        background-repeat: repeat-x;
        height: 30px;
        width: auto;
    }

	.ParentItemContentCellOver
    {
        font: 12px Tahoma;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        color: #FFFFFF;
        font-weight: bold;
    }
	
	.ParentItemContentCellOver a
    {
        font: 12px Tahoma;
        cursor: pointer;
        text-align: center;
        white-space: nowrap;
        width: 100%;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: bold;
    }

	.ParentItemSubMenuCell, .ParentItemSubMenuCellOver
    {
        width: inherit;
        background-image: url(submenu_parent.gif);
        background-repeat: no-repeat;
        background-position: right 13px;
        font-family: Verdana;
        font-size: 1px;
        height: 30px;
        color: #FFFFFF;
    }
	
	.ParentSeparator, .ParentSeparatorOver
	{
		background-image: url(mid.gif); 
		width:1px;
		padding: 0px;
	}
	.ParentSeparatorContentCell, .ParentSeparatorContentCellOver
    {
        color: #FFFFFF;
    }
	
	.easyMenu
    {
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        background-color: #CC0000;
    }
	
	.easyMenuItemContainer
	{
	}

	.easyMenuItem
	{
		height: 20px;
		cursor: auto; 
		border-bottom: 1px solid #CCCCCC;
		padding: 0px;
	}
	
	.easyMenuItem a
	{
		height: 20px;
		cursor: auto; cursor: pointer;
	}

	.easyMenuItemIconCell, .easyMenuItemIconCell a
	{
	}

	.easyMenuItemContentCell
    {
        font-family: Tahoma;
        font-size: 12px;
        color: #FFFFFF;
        width: 100%;
        background-color: #CC0000;
        font-weight: bold;
    }

	.easyMenuItemContentCell a
    {
        font-family: Tahoma;
        font-size: 12px;
        color: #FFFFFF;
        width: 100%;
        background-color: #CC0000;
        font-weight: bold;
    }

	.easyMenuItemOver
    {
        height: 20px;
        cursor: auto;
        border-bottom: 1px solid #CCCCCC;
        padding: 0px;
        width: auto;
    }
	
	.easyMenuItemOver a
	{
		height: 20px;
		cursor: auto; 
		
	}

	.easyMenuItemIconCellOver, .easyMenuItemIconCellOver a
	{
	}

	.easyMenuItemContentCellOver
    {
        color: #CC0000;
        font-family: Tahoma;
        font-size: 12px;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
        background-color: #FFFFFF;
        font-weight: bold;
    }

	.easyMenuItemContentCellOver a
    {
        color: #CC0000;
        font-family: Tahoma;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
        cursor: pointer;
        background-color: #FFFFFF;
        font-weight: bold;
    }

	.easyMenuSeparatorIconCell, .easyMenuSeparatorContentCell, .easyMenuSeparatorIconCellOver, .easyMenuSeparatorContentCellOver
	{
		vertical-align:top;
	}
	
	.easyMenuSeparator, .easyMenuSeparatorOver
	{
		border-bottom: 1px solid #ff0000;
	}

	.easyMenuItemSubMenuCell, .easyMenuItemSubMenuCellOver
    {
        width: auto;
        padding-top: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1px;
        height: 18px;
        color: #FFFFFF;
        background-color: #CC0000;
        font-weight: bold;
    }

	/* do not change these classes */
	.menuContainerIframeUnderlay
	{
		border: 0px;
		position : absolute; 
		visibility : hidden; 
		top : -2000px;
		left : 0px; 
		filter : "progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0)"; 
		filter : "Alpha(Opacity='0')";
		opacity : 0;
		--moz-opacity : 0;

		background-color: white;
	}
	#ob_em_mc
	{
		width: 100%;
		height: 100%;
		border-collapse: separate;
		border-spacing: expression(cellSpacing=0);
		border-spacing: 0px;
	}
	#ob_em_mc td
	{
		padding: 0px;
	}
	/* do not change these classes */
}

@media print
{
	.menuContainerIframeUnderlay
	{
		display: none;
	}	
}