@import url(layout.css);
body
{
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-style: normal;
    background-color: #FFFFB7;
}
#lcontainer
{
    float: left; 
    width: 50%;
    margin: 0;
    height: 300px;
    background-color: #FFFFB7;
}
#rcontainer
{
    float: right;
    width: 50%;
    height: 300px;
    background-color: #FFFFB7;
}
#masthead
{
    float: left;
    width: 50%;
    height: 269px;
    background-color: #FFFFB7;
}
#navigation
{
    background-color: #CC0000;
}
#page_content 
{
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #CC0000;
}
#column_l 
{
	font-size: small;
	font: small;
	width: 550px;
	position: relative;
	margin: 0 250px 0 0;
	padding: 0 1%;
	background-color: #FFFFB7;
	float: left;
	color: #000000;
}
#column_r 
{
	font-size: small;
	font: small;
	width: 550px;
	position:absolute;
    left:525px;
    top:273px;
	margin: 0 250px 0 0;
	padding: 0 1%;
	background-color: #FFFFB7;
	color: #000000;
}
#footer 
{
	background-color: #CC0000;
	padding-bottom: 5px;
	color: #FFFFFF;
}
/* Styles for Masthead */
#masthead img 
{
	float: left;
	margin: 0;
	padding: 0;
}
#masthead p 
{
	font-size: large;
	text-align: right;
	color: #FFFFFF;
	margin: 10px 10px 10px 0;
	padding: 0;
}
/* Styles for Navigation */
#navigationmast ul
{
    background: #CC0000;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
    color: #FFFFFF;
}
#navigationmast li 
{
	float: left;
}
#navigationmast a 
{
	font-family: Verdana;
	color: #CC0000;
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid #ca7;
	background-color: #FFFFFF;
}
#navigationmast a:hover 
{
	color: #000;
	text-decoration: none;
	border: 1px solid #ed9;
	background-color: #CC0000;
}
/* Styles for Content */
h1 
{
	font-size: 2em;
	color: #393939;
}
h2 
{
	font-size: 26px;
	font: x-large;
	color: #FFFFFF;
	background-color: #000080;
}
h3 
{
	font-size: x-large;
	color: #FFFFFF;
	background-color: #000080;
}
h4 
{
	background: #000080;
	font-size: x-large;
	color: #FFFFFF;
}
h5 
{
	background: #FFFFFF;
	font-size: large;
	color: #000000;
}
h6 
{
	font-size: 0.5em;
	color: #469;
}
/* Styles for Footer */
#footer p 
{
	background: #CC0000;
	font-size: x-small;
	text-align: center;
	color: #FFFFFF;
	margin: 10px;
	padding: 1px;
}
#footer a 
{
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a:hover
{
    color: #000;
    text-decoration: none;
}
/* Styles for Links */
a 
{
	color: #469;
	text-decoration: underline;
}
a:hover 
{
	color: #000;
	text-decoration: underline;
}
.style_bold 
{
	font-weight: bold;
}
.style_italic 
{
	font-style: italic;
}